{% load static %}

<div class="single-sidebar-widget popular-post-widget">
  <h4 class="popular-title">Latest Posts</h4>
  <div class="popular-post-list">
    {% for item in post %}
    <div class="single-post-list d-flex flex-row align-items-center">
      <div class="thumb">
        <a href="{% url 'blog:single' pid=item.id %}"><img class="img-fluid" src="{{item.favimage.url }}" alt="" /></a>
      </div>
      <div class="details">
        <a href="{% url 'blog:single' pid=item.id %}">
          <h6>{{item.title}}</h6>
        </a>
        <p>{{item.published_date | date:"D d M Y"}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
